/*=============== CARDS ==================*/

.animate-grid {
  max-width: 1170px;
  margin: 0 auto;
}

.cards {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 25%;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 768px){
    .card {
      width: 50%;
  }
}

@media (max-width: 500px){
    .card {
      width: 100%;
  }
}



.card:hover {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}

.image {
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 */
  overflow: hidden;
  position: relative;
}

.image img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.content {
  padding: 20px;
  background-color: $primary-color;
}

.title {
  margin-bottom: 20px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
  align-self: end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.price {
  margin-left: auto;
  padding: 5px 20px;
  border-radius: 20px;
  background-color: darken($primary-color, 10);
}
