
.categories{
    margin-top: 60px;
}

.categories ul{
    padding: 0;
    margin: 0;
    text-align:center
}

.categories ul li{
    display:inline-block;
    height: 50px;
}

.categories ul li a{
    border-radius:10px;
    font-size:16px;
    padding: 10px 15px;
    text-decoration:none;
    color: #fff;
    background-color: #337ab7;
    margin: 0 8px;

}

.categories ul li a.active,
.categories ul li a:focus,
.categories ul li a:hover{
    background-color: rgb(228, 228, 228);
    color: #337ab7;
    font-weight: bold;
    transition: 0.3s;
}


